<html  xmlns:th="http://www.thymeleaf.org/">
<body>
<h3>Welcome to data Page</h3>
<span th:text="${​​​​​​​message}​​​​​​​"></span>
<table>
<tr>
<th>Id</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
</tr>
<tr th:each="ob:${​​​​​​​list}​​​​​​​">
<td th:text="${​​​​​​​ob.empId}​​​​​​​"></td>
<td th:text="${​​​​​​​ob.firstName}​​​​​​​"></td>
<td th:text="${​​​​​​​ob.lastName}​​​​​​​"><td>
<td th:text="${​​​​​​​ob.emailId}​​​​​​​"></td>
</tr>
</table>
</body>
</html>
 




